<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img class="logo" src="\images\logo-mercado-liebre.svg" alt="logo">
        <div class="busqueda">
            Lugar para poner barra de búsqueda
        </div>
        <div>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
        <div>
            Barra de navegación
        </div>
        <ul>
            <li><a href=""></a>Ofertas</li>
            <li><a href=""></a>Tiendas Oficiales</li>
            <li><a href=""></a>Vender</li>
            <li><a href=""></a>Ayuda</li>

        </ul>
        <ul>
            <li><a href=""></a>Creá tu cuenta</li>
            <li><a href=""></a>Ingresá</li>
            <li><a href=""></a>Mis Compras</li>
        </ul>
    </header>
    <main>
        <h2>Sección: Basado en tu última visita</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <p>$23.200</p>
                <p>5% off</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
        <h2>Sección de Ofertas</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <p>$6.770</p>
                <p>40% oﬀ</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <p>$230.000</p>
                <p>20% oﬀ</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                <p>$70.500</p>
                <p>10% oﬀ</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen SmarTv">
                <p>$23.200</p>
                <p>5% oﬀ</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <p><strong>Envío gratis desde $ 2.500</strong></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos</p>
            </div>
            <div>
                <p><strong>Seguridad, de principio a ﬁn</strong></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <div>
                <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
            </div>
        </section>
    </footer>
</body>
</html>