<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo-buscador">
            <img class="logo" src="\images\logo-mercado-liebre.svg" alt="logo">
            <div class="buscador">
                Lugar para poner barra de búsqueda
            </div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div>
            Barra de navegación
        </div>
        <nav>
            <ul>
                <li><a href="link"></a>Ofertas</li>
                <li><a href="link"></a>Tiendas Oficiales</li>
                <li><a href="link"></a>Vender</li>
                <li><a href="link"></a>Ayuda</li>
            </ul>
            <ul>
                <li><a href="register.html"></a>Creá tu cuenta</li>
                <li><a href="login.html"></a>Ingresá</li>
                <li><a href="link"></a>Mis Compras</li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="img-home">
            <img src="/images/img-home-banner.jpg" width="100%">
        </div>
    </header>

    <main>
        <h2 class="main-titulo">Sección: Basado en tu última visita</h2>
        <section class="seccion-articulos">
            <article class="caja-articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <div class="mismo-renglon">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <article class="caja-articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <article class="caja-articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                </div><p class="precios">$70.500</p>
            </article>
            <article class="caja-articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                </div><p class="precios">$23.200</p>
            </article>
        </section>
        <h2>Sección de Ofertas</h2>
        <section class="seccion-articulos">
            <article class="caja-articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% oﬀ</p>
                    <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <article class="caja-articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% oﬀ</p>
                    <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <article class="caja-articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% oﬀ</p>
                    <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article class="caja-articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen SmarTv">
                <div class="caja-art-precio-desc-descr">
                    <i>camion</i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% oﬀ</p>
                    <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <div>icono</div>
                <p class="footer-titulo"><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p class="footer-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <div>icono</div>
                <p class="footer-titulo"><strong>Envío gratis desde $ 2.500</strong></p>
                <p class="footer-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos</p>
            </div>
            <div>
                <div>icono</div>
                <p class="footer-titulo"><strong>Seguridad, de principio a ﬁn</strong></p>
                <p class="footer-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <div>
                <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
            </div>
        </section>
    </footer>
</body>
</html>