
/* Etapa2
paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

tipografias
Familia: 'Roboto'

Tamaños Tipográﬁcos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

iconos de este sitio
https://fontawesome.com/icons?d=gallery&m=free
para ello cargar en el html el siguiente código
<link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

*/

* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #EAC926;
};

p {
    font-size: 12px
}

.h2, .footer-titulo {
    font-size: 24px
}

.precios {
    font-size: 18px
}

.descuentos, .descripciones {
    font-size: 16px
}

.descuentos {
    color: #39b54a;
}

.burger-menu {
    color: #ffffff;
    background-color: #1259c3;
    width: 25px;
    height: 26px;
    border-radius: 15%;
    display: inline-block;
    padding: 5px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.footer-titulo, .footer-texto {
    text-align: center;

}

main {
    width: 90vw;
}

article {
    padding: 10px
}

.caja-articulos {
    background-color: white
}

.caja-art-precio-desc-descr {
    border: 1px solid #ebebeb;
    padding: 15px;
}

.mismo-renglon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.precios {
    width: 30%;
}
.descuentos {
    width: 70%
}

nav {
    display: none
}
/* no se donde está el site para ocultar en version mobile */

/* no entiendo qué pide
    main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
} */

.img-home {
    display: flex;
    max-width: 100%;
}

.logo-buscador {
    display: flex;
}
.logo {
    width: 50vw;
}
.buscador {
    width: 50vw;
}



/* tablets */
@media (min-width:361px) {
    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }

}

/* desktop */
@media (min-width:769px) {
    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }
}